* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#banner {
    background-image: linear-gradient(rgba(253, 253, 253, 0.3),#009688), url(assets/images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.logo {
    width: 140px;
    top: 4%;
    position: absolute;
    padding-left: 8%;
}

.banner-text {
    text-align: center;
    padding-top: 200px;
    color: white;

}

.banner-text h1 {
    font-size: 100px;
    font-family: 'Kaushan Script', cursive;
}

.banner-text p {
    font-size: 25px;
    font-style: italic;
}

.banner-btn {
    margin: 60px auto 0;
}

.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.banner-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.3s;
}

.banner-btn a:hover span {
    width: 100%;
}

.banner-btn a:hover {
    color: black;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
    font-weight: bold;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menuBtn {
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 30px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img {
    width: 20px;
    margin-top: 15px;
}

@media screen and (max-width : 770px) {

    .banner-text h1 {
        font-size: 60px;
        padding-top: 60px;
    }

    .banner-text p {
        font-size: 20px;
    }

    .banner-btn a {
        display: block;
        margin: 20px auto;
    }  
}

/* ---features--- */

#feature {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
}

.title-text h1 {
    font-size: 45px;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features {
    flex-basis: 50%;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
}

.features-img img {
    width: 70%;
    border-radius: 5px;
}

.features h1 {
    text-align: left;
    margin-bottom: 10px;
    color: #009688;
}

.features-discription {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.features-icon i {
    width: 45px;
    height: 45px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}

.features-text p {
    font-weight: 400;
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width : 770px) {
    .title-text {
        padding-bottom: 30px;
    }

    .features {
        flex-basis: 100%;
    }
    .features-img {
        flex-basis: 100%;
    }

    .features-img img {
        width: 100%;
    }
}

/* --Service-- */
#service {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.services {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
}

.services img {
    width: 100%;
    border-radius: 7px;
}

/* .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(255,255,255,0.5), #009688);
} */